/* Estilização para o input */
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

/* Estilização para a listagem */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
/* Estilização para o botão */
button {
  background-color: #4CAF50; /* Cor de fundo */
  border: none; /* Sem borda */
  color: white; /* Cor do texto */
  padding: 15px 32px; /* Espaçamento interno */
  text-align: center; /* Alinhamento do texto */
  text-decoration: none; /* Sem decoração de texto */
  display: inline-block; /* Exibição em linha */
  font-size: 16px; /* Tamanho da fonte */
  margin: 4px 2px; /* Margem */
  cursor: pointer; /* Cursor do mouse */
}
h1,label {
  color: #333; /* Cor do texto */
  font-size: 24px; /* Tamanho da fonte */
  text-align: center; /* Alinhamento do texto */
  padding: 20px; /* Espaçamento interno */
  font-weight: bold; /* Peso da fonte */
}
